.easytransac-icon{
	background-color: #2B957A;
	background-image: linear-gradient(to right, #2B957A 0%, #37BC9B 100%);
	background-repeat: repeat-x;
	display: inline-block;
	height: 60px;
	vertical-align: middle;
}
